%h1 Listing courses
%h1 Semester 1
%table
  %thead
    %tr
      %th Name
      %th Code
      %th Credits
      %th Semester
      %th Lecturer

  %tbody
    - @course_modules.each do |course|
      - if course.semester == 1
        %tr
          %td= course.name
          %td= course.code
          %td= course.credits
          %td= course.semester
          %td= course.lecturer.name
          %td= link_to 'Show', course
          %td= link_to 'Edit', edit_course_module_path(course)

%br

= link_to 'Add Module', new_student_module_path

%h1 Semester 2
%table
  %thead
    %tr
      %th Name
      %th Code
      %th Credits
      %th Semester
      %th Lecturer

  %tbody
    - @course_modules.each do |course|
      - if course.semester == 2
        %tr
          %td= course.name
          %td= course.code
          %td= course.credits
          %td= course.semester
          %td= course.lecturer.name
          %td= link_to 'Show', course
          %td= link_to 'Edit', edit_course_module_path(course)

%br

= link_to 'Add Module', new_student_module_path
