%p#notice= notice

%p
  %b Name:
  = @course_modules.name
%p
  %b Code:
  = @course_modules.code
%p
  %b Lecturer:
  = @course_modules.lecturer.name

= link_to 'Edit', edit_course_module_path(@course_modules)
\|
= link_to 'Add Module', new_student_module_path(@course_modules)
\|
= link_to 'Back', course_modules_path
